
// 1. Header Styles
// 2. Typography & Colors
// 3. Blog Entry Styles
// 4. Page Styles

.navigation {
    .header {
        background-color: $white;
        padding-top: 1rem;
        transition: all .3s ease-in;
        padding-bottom: 1rem;
    }
    
    .header-logo {
        padding-bottom: 1rem;
        img {
            width: 200px;
        }
    }
    
    .header-bottom {
        a {
            color: black;
            font-size: 1.25rem;
            line-height: .75;
            &:hover {
                color: grey;
                //font-size: 2.1rem;
            }
        // transition: all .3s ease-in;
        }
    
        li {    
            &:first-child {
                padding-right: 0rem;
            }
            &:last-child {
                padding-left: 0rem;
            }
        }
    }
    @include breakpoint(medium) {
        .header {
            background-color: $white;
            padding-top: 2rem;
            transition: all .3s ease-in;
            padding-bottom: 1rem;
        }

        .header-logo {
            padding-bottom: 2rem;
            img {
                width: 400px;
            }
        }

        .header-bottom {
            a {
                color: black;
                font-size: 2rem;
                transition: all .3s ease-in;
                &:hover {
                    color: grey;
                }
            }


        }
    }
}

.navigation-small {
    .header-logo {
        padding-bottom: 0rem;
        img {
            width: 175px;
        }
    }
    .header {
        background-color: $white;
        padding-top: .5rem;
        padding-bottom: 0rem;
        box-shadow: 0px 20px 48px -26px rgba(0,0,0,0.61);
    }
    .header-bottom {
        padding-bottom: .75rem;
        a {
            font-size: 1.5rem;
            padding-bottom: 0rem;
        }
    }
    @media all and (min-width: 640px) and (orientation: portrait) {
        .header-logo {
            padding-top: 1rem;
            padding-bottom: .75rem;
        }
        .header-bottom {
            padding-bottom: 1.75rem;
        }
        li {    
            $menu-item-padding: 1rem;
            &:first-child {
                padding-right: $menu-item-padding;
            }
            &:last-child {
                padding-left: $menu-item-padding;
            }
        }
    }
}

.navigation-homepage {
    .header-logo {
        padding-bottom: 0rem;
        img {
            width: 175px;
        }
    }
    .header {
        background-color: $white;
        padding-top: .5rem;
        padding-bottom: 0rem;
        box-shadow: 0px 20px 48px -26px rgba(0,0,0,0.61);
    }
    .header-bottom {
        padding-bottom: .5rem;
        a {
            font-size: 1.5rem;
            padding-bottom: 0rem;
        }
    }
    @media all and (min-width: 640px) and (min-height: 625px) {
        .header-logo {
            padding-top: 1rem;
            padding-bottom: .75rem;
        }
        .header-bottom {
            padding-bottom: 1.75rem;
        }
        li {    
            $menu-item-padding: 1rem;
            &:first-child {
                padding-right: $menu-item-padding;
            }
            &:last-child {
                padding-left: $menu-item-padding;
            }
        }
    }
    @media all and (min-width:800px) and (min-height: 700px) {
        .header-logo {
            padding-bottom: 2rem;
            img {
                width: 400px;
            }
            .header {
                padding-top: 2rem;
                padding-bottom: 1rem;
            }
            .header-bottom {
                a {
                    font-size: 2rem;
                    line-height: .75;
                }
                li {    
                    $menu-item-padding: 1rem;
                    &:first-child {
                        padding-right: $menu-item-padding;
                    }
                    &:last-child {
                        padding-left: $menu-item-padding;
                    }
                }
            }
        }
    }
}

// 2. Typography and Colors
/* Color Theme Swatches in Hex */
$Green-page-1-hex: #84B89E;
$Green-page-2-hex: #567867;
$Green-page-3-hex: #283830;
$Green-page-4-hex: #8DC4A9;
$Green-page-5-hex: #729E88;

/* Color Theme Swatches in Hex */
$Tan-Hue-1-hex: #FFF6E0;
$Tan-Hue-2-hex: #FFE9D4;
$Tan-Hue-3-hex: #FFF8E6;
$Tan-Hue-4-hex: #FFF2E6;
$Tan-Hue-5-hex: #FFDEBF;

/* Color Theme Swatches in Hex */
$Rose-Hue-1-hex: #8C5151;
$Rose-Hue-2-hex: #4D2C2C;
$Rose-Hue-3-hex: #D97E7E;
$Rose-Hue-4-hex: #CC7676;
$Rose-Hue-5-hex: #B36868;
$Rose-Hue-6-hex: #AD5C5C;
$Rose-Hue-7-hex: #7E4949;

/* Color Theme Swatches in Hex */
$brown-orange-ish-1-hex: #59210C;
$brown-orange-ish-2-hex: #DF8362;
$brown-orange-ish-3-hex: #FFDDD1;
$brown-orange-ish-4-hex: #D9501E;
$brown-orange-ish-5-hex: #A63D17;

/* Color Theme Swatches in Hex */
$Greys-1-hex: #E8E8E8;
$Greys-2-hex: #C9C9C9;
$Greys-3-hex: #595959;
$Greys-4-hex: #262626;
$Greys-5-hex: #0D0D0D;

/* Color Theme Swatches in Hex */
$Purple-1-hex: #330F1C;
$Purple-2-hex: #E6BCCB;
$Purple-3-hex: #732240;
$Purple-4-hex: #802647;
$Purple-5-hex: #591B32;

/* Color Theme Swatches in Hex */
$pink-orange-red-ish-1-hex: #F22D1B;
$pink-orange-red-ish-2-hex: #B5534A;
$pink-orange-red-ish-3-hex: #73150D;
$pink-orange-red-ish-4-hex: #FCABA4;
$pink-orange-red-ish-5-hex: #A61F12;

/* Color Theme Swatches in Hex */
$blue-greys-1-hex: #8089A6;
$blue-greys-2-hex: #B4C0D9;
$blue-greys-3-hex: #1E2D40;
$blue-greys-4-hex: #4D5D73;
$blue-greys-5-hex: #081826;

$border-radius: 6px;

h1, h2, h3, h4 {
    font-weight: 600;
    line-height: .9;
}

p {
    font-size: 1.1875rem;
}

.green {
    background-color: $Green-page-2-hex;
    color: $white;
}

.rose {
    background-color: $Rose-Hue-2-hex;
    color: $white;
}

.tan {
    background-color: $Tan-Hue-4-hex;
    color: $black;
}

.grey {
    background-color: $Greys-4-hex;
    color: $Greys-1-hex;
    h3, ul, li, p {
        color: $Greys-4-hex;
    }
    p a {
        color: $Greys-4-hex;
        &:hover {
            color: $Greys-3-hex;
        }
    }
}

a sup, a:visited sup {
    color: $Green-page-3-hex;
}

.has-tip {
    border-bottom: 0rem;
}

a {
    transition: all .3s ease-in;
}

//fixes full bleed left to right, no margin, no padding, centered
.grid-container {
    padding: 0rem;
    margin: 0rem;
    max-width: 100%;
    // Necessary to center blog entry content
    &.blog-entry {
        margin: auto;
    }
}

// 3. Blog Entry Styles

.blog-entry {
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(medium) {
        width: 40rem;
    }
    @include breakpoint(large) {
        width: 50rem;
    }
    h4 {
        color: darken($Tan-Hue-5-hex,65%);
        //padding-top: 2rem;
        padding-bottom: .5rem;
        line-height: 1.2;
    }
    p, h4 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
// Styles the Drop Cap

    &-heading {
        background-color: $Tan-Hue-2-hex;
        align-content: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        &-author {
            order: 1;
            display: flex;
            flex-direction: row;
            padding-top: 0.75rem;
           // margin-left: 1rem;
            img {
                width: 50px;
                border-radius: 100%;
            }
            &-photo {
                margin-right: 1rem;
            }
            &-info {
                display: flex;
                flex-direction: column;
                &-name, &-title {
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
            @include breakpoint(medium) {
                //order: 0;
              //  flex-direction: column;
            }
        }
        &-title {
            order: 0;
            h2 {
                font-size: 2rem;
            }
            @media (min-width: 400px) {
                //height: 17vw;
                h2 {
                    font-size: 3rem;
                    padding-right: 20vw;
                }
            }

            @include breakpoint(medium) {
                //order: 1;
            }
        }
        @include breakpoint(medium) {
            //flex-direction: row;
        }
       
    }
    &-article {
        &-summary {
            color: darken($Tan-Hue-5-hex,75%);
            background-color: $Tan-Hue-3-hex;
            ul {
                padding-top: 1rem;
                padding-right: 2rem;
                list-style-type: none;
            }
            li {
                font-size: 1.5rem;
                line-height: 1;
                font-weight: 700;
                padding-bottom: 0.5rem;
                @include breakpoint(medium) {
                    font-size: 2rem;
                }
            }
        }      
    }
    .blog-entry-first-paragraph {
        p:first-of-type::first-letter {
            color: darken($Tan-Hue-4-hex,65%);
            float: left;
            font-size: 65px;
            font-weight: 700;
            line-height: 0.7;
            margin-top: 0.12em;
            padding-right: 10px;
        }
    }
    &-references-sources {
        padding: 2rem 0rem;
    }
    ol {
        margin-left: 3rem;
        font-size: 1.2rem;
        font-weight: 500;
    }
}

.blog-entry-article-image {
    padding-bottom: 1rem;
}

.quote {
    padding: 1rem 0.5rem;
    display: block;
    background-color: $Tan-Hue-3-hex;
    color: darken($Tan-Hue-5-hex,75%);
    font-size: 2rem;
    line-height: 1.4;
    font-style: italic;
    font-weight: bold;

    &-right{
        text-align: right;    
    }
    &-before-image {
        margin-bottom: 0;
    }
}

picture {
    display: block;
    text-align: center;
    img, source {
        text-align: center;
    }
}

figcaption {
    font-style: italic;
}

blockquote {
    border-left: 0px;
}

// 4. Page Styles

.hero-homepage {
    justify-content: center;
    height: 100vh;
    background-color: $Green-page-3-hex;
    ;
    color: $white;
    h1 {
        padding: 1rem;
        line-height: 1;
        font-size: 15vw;
        text-align: left;
        @media (min-width:690px) {
            font-size: 7rem;
        }
    }
    @media (orientation: landscape) {
        h1 {
            font-size: 9vw;
        }
    }
    @media (min-aspect-ratio: 2) {
        h1 {
            font-size: 7vw;
        }
    }
    @media all and (max-width: 750px) and (min-aspect-ratio: .85) {
        h1 {
            font-size: 10vw;
        }
    }
}

.hero-homepage-second {
    height: 100vh;
    display: flex;
    flex-direction: column;
    &-text {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        p {
            margin-bottom: 0;
        }
        &-heading {
            padding: 0rem 1rem;
            padding-bottom: 0rem;         
            h2 {
                font-size: 8vw;
            }
        }
        &-paragraph {
            padding: 1rem;
        }
        @include breakpoint(509px) {
            h2 {
                font-size: 2.5rem;
            }
        }
    }
    @media all and (min-width:855px) and (orientation: landscape) {
      //  height: 40rem;
    }
    @media all and (min-width: 640px) and (orientation: portrait), all and (min-width: 640px) and (min-height: 640px) {
        &-text {
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            flex-grow: 1;
            &-heading {
                padding-left: 2rem;
                width: 40%;
                h2 {
                    font-size: 2.5rem;
                }
            }
            &-paragraph {
                padding-left: 2rem;
                padding-right: 2rem;
                width: 60%;
            }
        }
    }
    //to fix weird bleed of text in third hero into second hero, good fix for landscaped mobile viewports
    @media all and (max-height:550px) and (orientation:landscape) {
        height: auto;
    }
}

.hero-homepage-third, .research-page-program-promo, .homepage-research-promo {
    padding-top: 2rem;
    background-color: $white;
    color: $Green-page-3-hex;
    @media (min-width:1000px) {
        padding-top: 0rem;
    }
    &-choices {
        display: flex;
        flex-direction: column;
        &-heading {
            padding-bottom: 2rem;
        }
        @media (min-width:1000px) {
            margin: 0rem 1rem;
            padding-bottom: 1rem;
        }
    }
    &-choices-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        &:first-child {
           // padding-right: 2rem;
        }
        @media (min-width:1000px) {
            flex-direction: row;
            padding: 3rem 2rem;
            div:nth-of-type(2) {
                margin-right: 2rem;
            }
        }
        a, a:visited {
            padding-bottom: 0rem;
            color: $white;
        }
        &-heading {
            h3 {
                font-size: 1.75rem;
                padding-bottom: .5rem;
                @media (min-width:1000px) {
                    padding-right: 1rem;
                    font-size: 2rem;
                }
            }
        }
        &-button {
            padding-top: 1.2rem;
            position: relative;
            background: #283830;
            font-weight: 700;
            width: 18rem;
            height: 4rem;
            overflow: hidden;
            z-index: 1;
            cursor: pointer;
            transition: color .3s;
            /* Typo */
            text-align: center;
            color: #fff;
            h2 {
                text-align: center;
            }
            h2 {
                font-size: 1.5rem;
            }
            margin-bottom: 2rem;
            @media (min-width:1000px) {
                margin-bottom: 0;
            }
            &::after {
                position: absolute;
                top: 90%; 
                left: 0;
                width: 100%; 
                height: 100%;
                background: #84B89E;
                content: "";
                z-index: -2;
                transition: transform .3s;
              }
              &:hover::after {
                transform: translateY(-80%);
                transition: transform .3s;
              }
        }
    }
    @media (min-width:1000px) {
        flex-direction: row;
    }
    &-quote {
        background-color: $Green-page-3-hex;
        color: $white;
        padding: 1rem 2rem 0rem 1rem;
        margin: 0;
        height: 25rem;
        h1 {
            font-size: 2.5rem;
        }
        sup a:visited, sup a, a:link, a, a:active {
            font-size: 1.5rem;
            color: $white;
        }
        @media (min-width: 450px) {
            height: 20rem;
        }
        @media (min-width: 700px) {
            height: 15rem;
        }
    }
}

.homepage-research-promo-choices {
    padding-bottom: 0rem;
}

.research-page-program-promo {
    padding-top: 0rem;
    &-text {
        padding: 2.5rem;
        background-color: $white;
        p {
            margin-bottom: 0rem;
        }
        @include breakpoint(medium) {
            padding: 4rem;
        }
    }
    &-choices {
        @media (min-width:1000px) {
            margin: 0;
        }
    }
    &-choices-links {
        margin: 0;
        padding-top: 1.5rem;
        background-color: $Greys-4-hex;
        color: $white;
        &-button {
            background-color: $Greys-1-hex;
            color: $Greys-2-hex;
            &:after {
                background: $Greys-2-hex;
            }
        }
        a, a:visited {
            color: $white;
        }
        @media (min-width:1000px) {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
        h3 {
            color: $Greys-1-hex;
        }
        h2 {
            color: $Greys-4-hex;
        }
    }
}

.disclaimer, .privacy-policy {
    padding: 1rem;
    @include breakpoint(medium) {
        padding: 2rem;
    }
    @include breakpoint(large) {
        padding: 2rem 4rem;
    }
}

.homepage-research-promo-choices {
    margin: 0;
    background: $white;
    color: $Green-page-3-hex;
    text-align: center;
    padding-top: 2rem;
    &-links-button {
        margin-left: auto;
        margin-right: auto;
        a, a:hover, a:visited {
            color: $white;
        }
    }
    @media (min-width:1000px) {
        padding-bottom: 2rem;
    }
}

.hero-homepage-third-quote-second {
    background-color: $Green-page-2-hex;
}

  .research-page-hero {
    &-title {
        padding: 1rem 4rem 2rem 1rem;
        margin-bottom: 1rem;
        height: 15rem;
        h2 {
            font-size: 2.5rem;
        }
        @include breakpoint(medium) {
            height: 13rem;
            h2 {
                font-size: 3rem;
            }
        }
        @include breakpoint(large) {
            height: 16rem;
            h2 {
                font-size: 4rem;
            }
        }
    }
}

.research-page-research {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: $white;
    @media (min-width: 700px) {
        flex-direction: row;
        &-exercise, &-self-compassion {
            width: 50%;
        }
        padding-left: 12vw;
    }
    .list {
        li {
            font-size: 1.1rem;
        }
    }
}

.research-page-references, .blog-entry-references, .running-references {
    color: $Rose-Hue-2-hex;
    background-color: $white;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    h3 {
        text-align: center;
    }
    &-title {
        padding: 0rem 2rem;
    }
    &-sources {
        a, a:visited {
            color: $Rose-Hue-2-hex;

        }
        a:hover {
            color: lighten($Rose-Hue-2-hex, 20%)
        }
        p {
            font-size: 0.75rem;
            padding-bottom: 0rem;
            margin-bottom: 0rem;
        }
        @include breakpoint(large){
            padding-left: 2rem;
        }
    }
}

.tips-to-start-running {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    h3 {
        padding-bottom: 2rem;
        text-align: center;
    }
    th {
        font-size: 1.25rem;
    }
    td {
        font-size: 1.1875rem;
        text-align: left;
        padding: .75rem;
    }
    table {
        margin-bottom: 2rem;
    }
}

.running-program-basics, .running-kindness-philosophy {
    &-heading {
        background: $Purple-1-hex;
        color: $white;
        padding: 1rem 0rem 2rem 1rem;
        h1 {
            padding-left: 3rem;
            font-size: 2rem;
            &:first-of-type {
                padding-left: 0rem;
                padding-bottom: 1rem;
            }
            @include breakpoint(medium) {
                font-size: 3rem;
            }
        }
    }
    &-article {
        color: $black;
        background-color: $white;
        padding: 1rem 0.5rem;
        margin-left: auto;
        margin-right: auto;
        @include breakpoint(medium) {
            width: 40rem;
        }
        @include breakpoint(large) {
            width: 50rem;
        }
        
        h2, h3 {
            color: $Purple-3-hex;
        }
    }
    .basics-first-paragraph {
        p:first-of-type::first-letter {
            color: $Purple-3-hex;
            float: left;
            font-size: 65px;
            font-weight: 700;
            line-height: 0.7;
            margin-top: 0.12em;
            padding-right: 10px;
        }
    }
}
.running {
    &-picture {
        margin-top: 0;
    }
    .quote {
        padding: 1rem 0.5rem;
        display: block;
        background-color: $Purple-2-hex;
        color: $Purple-1-hex;
        font-size: 2rem;
        line-height: 1.4;
        font-style: italic;
        font-weight: bold;
    
        &-right{
            text-align: right;    
        }
    }
    &-references {
        margin: auto;
        max-width: 50rem;
        &-sources {
            padding: 2rem;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-heading {
        width: 100vw;
        align-self: start;
        text-align: left;
        color: darken($Tan-Hue-5-hex,75%);
        background-color: $Tan-Hue-3-hex;
        padding: 1rem 2rem 1rem 1rem;
        h1 {
            font-size: 1.5rem;
            line-height: .8;
            font-weight: 700;
            padding-bottom: 0.5rem;
            @include breakpoint(medium) {
                font-size: 2rem;
            }
            @include breakpoint(large) {
                font-size: 3rem;
            }
        } 
    }
    &-text {
        background-color: $white;
        padding: 2rem;
        align-self: center; 
        @include breakpoint(large) {
            padding: 4rem;
        }        
        p {
            margin-bottom: 0;
            max-width: 30rem;
        }
    }
    &-form {
        background-color: $Tan-Hue-4-hex;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        @media (min-width: 400px) {
             align-items: center;
        }
        &-name-email {
            display: flex;
            flex-direction: column;
            input {
                max-width: 95vw;
            }
            @media (min-width: 400px) {
                flex-direction: row;
                input {
                    max-width: 15rem;
                }
                p:first-child{
                    padding-right: 2rem;
                }
            }
        }
        textarea {
            height: 15rem;
        }
        input[type=submit] {
            background-color: #fff;
            padding: .5rem 2rem;    
        }

    }
}

.form-group input {
    width: auto;
}

.form-control {
    display: inline-block;
}

.form-group label {
    margin-left: 0.5rem;
    line-height: 1;
}
.radio-fix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.radio-fix input {
    order: 2;
}

.radio-fix label {
    order: 3;
}

#updates-error {
    order: 1;
    margin-bottom: 1.25rem;
    display: block;
}

#email-error {
    margin-bottom: 0.5rem;
}

.blog-index {
    &-heading {
        background-color: $Rose-Hue-2-hex;
        color: $white;
        padding: 1rem;
        h1 {
            font-size: 6.5vw;
            @media (min-width:1400px) {
                font-size: 5.5rem;
            }
        }
        p {
            padding: .5rem;
            @media (min-width: 500px) {
                padding: 2rem;
                max-width: 50rem;
                margin: auto;
            }
            a, a:visited {
                color: $Purple-2-hex;
                &:hover {
                    color: darken($Purple-2-hex, 10%);
                }
            }
        }
    }
    &-entry {
        padding-bottom: 2rem;
        &-title {
            margin-top: 0.25rem;
            padding: 1rem;
            h1 {
                transition: all .3s ease-in;
                color: $Rose-Hue-2-hex;
                font-size: 2rem;
                margin-bottom: 0;
                &:hover {
                    color: $Rose-Hue-1-hex;
                }
            }
            a, a:visited {
                color: $Rose-Hue-2-hex;

            }
        }
        &-author-date {
            padding-left: 1rem;
            p {
                margin-bottom: .25rem;
                font-weight: 500;
            }
        }
        &-description {
            padding-left: 1rem;
            padding-right: 1rem;
            a, a:visited {
                color: $black;

            } 
        }       
    }
}

.about {
    &-heading {
        color: lighten($blue-greys-2-hex, 0%);
        background: $blue-greys-5-hex;
        padding: 1rem;
    }
    &-text {
        padding: 2rem;
        background: $white;
        color: $black;
    }
}

//body and .site-content tag make footer sticky via flexbox
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1600px;
    margin: auto;
}

.site-content {
    flex: 1;
}

footer {
    color: $black;
    background-color: $white;
    text-align: center;
    //padding-bottom: 0.5rem;
    p {
        font-size: .75rem;
    }
    img {
        width: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.grecaptcha-badge { visibility: hidden; }
.privacy-notification {
    padding: 1rem;
    z-index: 999;
    min-height: 20px;
    margin-right: -.5rem;
    background: rgba(0,0,0,0.6);
    overflow: hidden;
    position: fixed;
    color: #FFF;
    bottom: 0px;
    right: 10px;
    display: flex;
    left: 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    flex-direction: column;
    &-top {
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-message {
        padding-right: 0.5rem;
    }
    &-button {
        background: #ffba55;
        text-decoration: none;
        cursor: pointer;
        padding: .25rem 1rem;
        float: right;
        border-radius: 20px;
        max-height: 3rem;
        a {
            color: #000000;
            font-size: 1.1em;
            padding-bottom: 0.25rem;        
            &:hover {
                color:darken(#ffba55,50%)
            }
        }

    }
    &-link {
        color: #ffba55;
        &:hover {
            color:darken(#ffba55,20%)
        }
    }
}