---
title: Running Kindness ~ About
description: Running Kindness is a blog written by Mac, a runner who used running to transform his life.
---
    <script type="application/ld+json">
        {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Running Kindness",
        "url": "https://runningkindness.com",
        "description": "A fitness blog dedicated to helping beginners learn how to run."
        }
    </script>
    <link rel="canonical" href="https://runningkindness.com/{{page}}.html" />

</head>

<body class="">
    {{> navigation}}
    <article class="about site-content">
        <div class="about-heading">
            <h1>Running transformed my life</h1>
            <h1>Exercise is the best self-care</h1>
            <h1>Consistency beats intensity</h1>
            <h1>Everyone can run</h1>
        </div>
        <div class="about-image">
            <picture class="research-page-hero-image">
                <source media="(max-width: 639px)" srcset="assets/img/mac_standing_resting_on_trail_2x3.jpg">
                <source media="(max-width: 1023px) and (min-width: 640px)" srcset="assets/img/mac_standing_resting_on_trail_2x1.jpg">
                <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/img/mac_standing_resting_on_trail_3x1.jpg">
                <source media="(min-width: 1200px)" srcset="assets/img/mac_standing_resting_on_trail_4x1.jpg">
                <img src="assets/img/mac_standing_resting_on_trail_3x1.jpg" alt="Mac running down trail finishing an easy jog in the mountains.">
            </picture>
        </div>
        <div class="about-text">
            <p>Welcome to Running Kindness. Running three times a week transformed my life: helping me beat chronic injury, depression, and addiction. I have been a runner off and on most of my life, and struggled to follow a routine and avoid injury. I found consistency from the simple goal: to finish a run wanting to go on another run. I used that priority to create Running Kindness, a resource to help people become runners. Everyone can run. The key is consistency over intensity and becoming an effective coach by practicing self-compassion. Training does not have to be hard, grueling, or maximized in order to receive life changing health benefits.</p>
            <p>I live in the Pacific Northwest with my wife, two sons, and dog. I spend my day to day raising my two children, volunteering, writing, coding, and enjoying the outdoors. In another lifetime I was a high school math teacher. Even longer ago I played in a touring rock band. I am passionate about my family, music, volunteering, running, cooking, baking, and reading.</p> 
        </div>

    </article>

{{> footer}}

</body>
