---
title: RK ~ Learning How to Run the Easy Way Practicing Self-Compassion
description: Blog entry on the best running program for beginners. This routine provides the most reliable way to go from not running, to running regularly.
---
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        “mainEntityOfPage”:{
            “@type”:”WebPage”,
            “@id”:”https://runningkindness.com”
            },
        "headline": "Learning How to Run the Easy Way: Practicing Self-Compassion",
        "image": "",  
        "author": {
            "@type": "person",
            "name": "Mac"
        },  
        "publisher": {
            "@type": "Organization",
            "name": "Running Kindness",
            "logo": {
            "@type": "ImageObject",
            "url": "https://runningkindness.com/assets/img/running_kindness_publisher_logo.jpg"
            }
        },
        "datePublished": ""
        }
    </script>
    <link rel="canonical" href="https://runningkindness.com/{{page}}.html" />

</head>

<body class="tan">
    {{> navigation}}
<article class="site-content">
    <div class="blog-entry-heading">
        <div class="blog-entry-heading-author">
            <section class="blog-entry-heading-author-photo">
                <picture>
                    <source srcset="assets/img/mac_running_for_beginners_blog_photo.webp" type="image/webp">
                    <source srcset="assets/img/mac_running_for_beginners_blog_photo.jpg" type="image/webp">
                    <img src="assets/img/mac_running_for_beginners_blog_photo.jpg" alt="portrait of Mac, author who wants to teach everyone how to run">
                </picture>
            </section>
            <section class="blog-entry-heading-author-info">
                <h5 class="blog-entry-heading-author-info-name">Mac</h5>
                <h6 class="blog-entry-heading-author-info-title">Runner</h6>
            </section>
        </div>
        <div class="blog-entry-heading-title">
            <h2>Learning How to Run the Easy Way: Practicing Self-Compassion</h2>
        </div>
    </div>

    <section class="blog-entry-image">
        <picture>
            <source media="(max-width: 639px)" srcset="assets/img/trail_run_path_under_boulders_2x3.jpg">
            <source media="(max-width: 1023px) and (min-width: 640px)" srcset="assets/img/trail_run_path_under_boulders_2x1.jpg">
            <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/img/trail_run_path_under_boulders_3x1.jpg">
            <source media="(min-width: 1200px)" srcset="assets/img/trail_run_path_under_boulders_4x1.jpg">
            <img src="assets/img/trail_run_path_under_boulders_3x1.jpg" alt="A running trail winding under fallen western red cedars and an exposed rock face.">
        </picture>
    </section>
    <section class="blog-entry-article-summary">
        <ul>
            <li>Consistency beats intensity</li>
            <li>Three runs a week</li>
            <li>Run / walk</li>
            <li>Focus on how you feel</li>
            <li>Become the coach you need</li>
            <li>Coach yourself like a friend</li>
            <li>Fitness is universally challenging</li>
            <li>Be mindful of self-talk</li>
        </ul>
    </section>
    <section class="blog-entry blog-entry-1" >
        <section class="blog-entry-article blog-entry-first-paragraph">
            <p>This article is not for the competitive/traditional running community. This is a plan for beginners who want to become runners. The plan prioritizes consistency and using the skills of self-compassion to build resilience. Consistency beats intensity. The greatest health gains occur when going from not exercising to following a routine. Improving resilience is crucial to following a training program because face it, <strong>running is hard. </strong>If it were easier more people would exercise!</p>
            <p>The Running Kindness develops resilience with three skills, </p>
            <ol>
            <li>coaching yourself like a friend: being encouraging and patient instead of judgmental and demanding, </li>
            <li>recognizing fitness is universally challenging: following a routine is hard for everyone, 
            </li>
            <li>being mindful of self-talk: noticing uncomfortable emotions and responding with patience instead of rumination.</li>
            </ol> 
            <p>It’s embracing running as self-care and using self-compassion to <strong>become a kind and supportive coach to yourself.</strong> <a href="how_to_start_a_running_program.html#philosophy">Read more about the philosophy here.</a></p>
        </section>
    </section>
            <blockquote class="quote">
                <span>Make sure you’ll want to run again. If you run too hard you risk injury, or more likely, risk feeling too discouraged to go on one more run.<span>
            </blockquote>
    <section class="blog-entry blog-entry-1">
        <section class="blog-entry-article">
            <h4>Commit to Exercising Three Times a Week</h4>
            <p>As a runner, you will consistently run three times a week. Your speed or pace does not matter. Each time you run, aim for ONE MORE RUN. <strong>Make sure you’ll want to run again.</strong> If you run too hard you risk injury, or more likely, risk feeling too discouraged to go on one more run. One more run. That optimism is the foundation of consistency: quantity, not quality. Over time <strong>consistency creates major progress.</strong></p>
            <h4>Check in with your doctor</h4>
            <p>Send your healthcare provider an e-mail or schedule a yearly checkup and get clearance to start a new exercise program.</p>
            <h4>Hydrate</h4>
            <p>Drink plenty of water prior to running and avoid having to drink a large amount just before your run. Having a ton of water in your stomach may be uncomfortable while you exercise.  </p>

            <!--[if IE]>I try to stay hydrated every day all day, regardless of running schedules. For me, ideally, 20 minutes before I run I want to be hydrated, and will only drink up to half a glass of water between then and running. That's my comfort zone, some people may not tolerate drinking that close to exercise, and vice versa. Make sure you are hydrated and figure out what feels best.<![endif]-->

            <h4>Run-Walk Until You Are Ready to Run-Run</h4>
            <p>Each run you take will consist of a hybrid run walk. This will let you get all of the health gains of regular exercise, while letting you ease your body into fitness. The run / walk hybrid also helps you avoid injury.</p>
            <h4>Your First Workouts</h4>
            <p>Start and end your runs by walking. Walk for 5 minutes to warm up instead of stretching, and when you are ready start a light jog. As you jog, notice how you feel. Don’t overdo it, don’t huff and puff and push through. <strong>When you can hear yourself breathing hard, switch back to walking.</strong> If you ran for 10/20/30 seconds, give yourself a pat on the back! If it was a whole minute, way to go! Again, listen to your body. If you have some prior experience or a greater baseline and manage up to 5 minutes (!!), stop at that and return to walking.</p>
        </section>
    </section>
    <blockquote class="quote quote-right">
            <span>Don’t worry about how long you manage to run versus walk. It’s great exercise either way. The only box you need to check is, did you go on a run? </span>
    </blockquote>
        <section class="blog-entry blog-entry-1">
        <section class="blog-entry-article">
            <h4>Repeat</h4>
            <p>Tune in to how you recover and catch your breath. When you are ready, resume jogging and once again, return to walking when you begin to hear yourself breathing. Keep doing those jog walk intervals for 20 minutes total and end on a walk section. Make sure you walk for at least a few minutes after you’ve caught your breath.</p>
            <p>Don’t worry about how long you manage to run versus walk. It’s great exercise either way. The only box you need to check is, did you go on a run? Yes? Then <strong>you have done something that millions of people didn’t do that day.</strong> Boo yeah! Now go drink a glass of water.</p>
            <ol><h4>Workout Summary</h4>
                <li>Remind yourself of goal: just to want to go on another run later.</li>
                <li>Warm up by walking for 5 minutes.</li>
                <li>Run until you hear your breath.</li>
                <li>Walk until you catch your breath.</li>
                <li>Repeat steps 3 and 4, for 20 minutes total.</li>
                <li>Walk to cool down and hydrate.</li>
                <li>Did you run? Yes. Do you want to run again? Yes. Celebrate.</li>
        </ol>
            <h4>Don’t Run On Back to Back Days</h4>
            <p>Give yourself at least one day of recovery between workouts. Your body needs time to recover. Running on consecutive days risks injury and doesn’t give your body the time it needs to repair itself. </p>
        </section>
    </section>
    <blockquote class="quote">
            <span>Remember that getting fit is hard for everyone. It's hard for everyone to follow a regular routine. If it was easy, more people would exercise.</span>
    </blockquote>
        <section class="blog-entry blog-entry-1">
        <section class="blog-entry-article">
            <h4>Gradually Ramp Up Your Workouts</h4>
            <p>The next time you run, do the same exact thing, and be prepared for it to be just as hard, if not harder. You need extra time to warm up as you will be sore. Just remember your goal: one more run. Be patient and don’t expect immediate improved endurance. Endurance isn’t the goal: your goal is 3 runs a week. We run because it is the best form of self-care. Regular exercise is incredibly good for you.</p>
            <h4>After Two Weeks Increase Workouts to 30 Minutes</h4>
            <p>Increase the amount of time you exercise to 30 minutes and keep it there. As you get stronger, your workouts will get more intense because your active running portions will get longer. Be patient with the run/walk format. Run/walks are great exercise for your body. You’ll be reaching target heart rate. You’ll be breaking down and building muscles. You’ll make gains.</p>
            <h4>You Are Going to Be Sore</h4>
            <p>In a nutshell, with strenuous exercise, your muscles tear a little bit and your body repairs them. Here’s the good news: when repaired they become stronger. Bad news: 24 to 48 hours after you exercise, those tears will make you feel sore as hell, especially when you are beginning a new routine. As you train the soreness lessens. You become stronger. Don’t overreact and be discouraged by how sore you feel.</p>
            <h5>Routine Summary</h5>
            <ol>
                <li>Walk / Run 3 times a week.</li>
                <li>Workout for 20 minutes a time for 2 weeks.</li>
                <li>Increase time to 30 minutes.</li>
                <li>From workout to workout, gradually increase run duration, as you are comfortable.</li>
            </ol>
            <h4>This is the Hardest Part</h4>
            <p>Your first week will be the hardest week, the first month the hardest month, the first full season the hardest season, and so on. Fortunately, getting in running condition is way tougher than staying conditioned. It gets easier and easier, and you’ll be able to do more and more.</p>
            <p>Remember that getting fit is hard for everyone. It's hard for everyone to follow a regular routine. If it was easy, more people would exercise. Encourage yourself like you would a friend starting to exercise, and celebrate each step be it one completed run, or a week, month, or season of consistent exercise.</p>
            <h4>Run/Walk as Long as Necessary</h4>
            <p>You’re going to get stronger and reach the point where you can comfortably jog for 30 minutes. I can’t predict how long that will take. Everyone is different. Just know that walk/runs are self-care. Those runs are so very wonderful for your health. Nothing else can compare.</p> <!--[if IE]>add quote<![endif]-->
            <p>As you make progress, develop fitness, and find a sustainable routine you can add on other goals, but always remember that goal each time you run. You want to go on another run!</p>
        </section>
    </section>
    <section class="blog-entry blog-entry-references-sources">
        
    </section>  
</article>

{{> footer}}

</body>
