---
title: Running Kindness ~ How Running Changed My Life
description: Blog entry on how running helped me recover from a chronic injury, treat depression, and beat addiction. The experience taught me the best way to train and follow a routine.
---
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        “mainEntityOfPage”:{
            “@type”:”WebPage”,
            “@id”:”https://runningkindness.com”
            },
        "headline": "How Running Changed My Life",
        "image": "",  
        "author": {
            "@type": "person",
            "name": "Mac"
        },  
        "publisher": {
            "@type": "Organization",
            "name": "Running Kindness",
            "logo": {
            "@type": "ImageObject",
            "url": "https://runningkindness.com/assets/img/running_kindness_publisher_logo.jpg"
            }
        },
        "datePublished": ""
        }
    </script>
    <link rel="canonical" href="https://runningkindness.com/{{page}}.html" />

</head>

<body class="tan">
    {{> navigation}}
<article class="site-content">
    <div class="blog-entry-heading">
        <div class="blog-entry-heading-author">
            <section class="blog-entry-heading-author-photo">
                <picture>
                    <source srcset="assets/img/mac_running_for_beginners_blog_photo.webp" type="image/webp">
                    <source srcset="assets/img/mac_running_for_beginners_blog_photo.jpg" type="image/webp">
                    <img src="assets/img/mac_running_for_beginners_blog_photo.jpg" alt="portrait of Mac, author who wants to teach everyone how to run">
                </picture>
            </section>
            <section class="blog-entry-heading-author-info">
                <h5 class="blog-entry-heading-author-info-name">Mac</h5>
                <h6 class="blog-entry-heading-author-info-title">Founder, Running Kindness</h6>
            </section>
        </div>
        <div class="blog-entry-heading-title">
            <h2>How Running Changed My Life</h2>
        </div>
    </div>

    <section class="blog-entry-image">
        <picture>
            <source media="(max-width: 639px)" srcset="assets/img/mac_running_kindness_jogging_downhill_2x3.jpg">
            <source media="(max-width: 1023px) and (min-width: 640px)" srcset="assets/img/mac_running_kindness_jogging_downhill_2x1.jpg">
            <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/img/mac_running_kindness_jogging_downhill_3x1.jpg">
            <source media="(min-width: 1200px)" srcset="assets/img/mac_running_kindness_jogging_downhill_4x1.jpg">
            <img src="assets/img/mac_running_kindness_jogging_downhill_3x1.jpg" alt="The author, Mac, running downhill through western red cedars, douglas firs.">
        </picture>
    </section>
    <section class="blog-entry-article-summary">
        <ul>
            <li>Starting small, regular exercise transformed my health</li>
            <li>Running beat chronic injury, clinical depression, and addiction</li>
            <li>Running can help others</li>
        </ul>
    </section>
    <section class="blog-entry blog-entry-2" >
        <section class="blog-entry-article blog-entry-first-paragraph">
            <p>Five years ago, on a clear fall day I tried to run a mile. A knee issue had me sidelined for years. When I tried to run, my left knee would act up about half a mile in and I’d have to stop. The internet convinced me I had an IT band issue, and if I foam rolled it out for a couple weeks I’d be cured. Rolling your IT band feels closer to self-flagellation than physical therapy, but I figured <strong>“no pain, no gain”</strong> and endured it. Back to that fall run. I'd been foam rolling my IT band for almost a month and I was hopeful I'd be good to go. I ran along the bay at a local park. It was idyllic. Cool enough to not sweat hard, but warm enough for a t-shirt and shorts. Light wind. Not to mention a view of the flipping ocean. <em>Perfect.</em> But despite the weeks of foam rolling, my knee betrayed me again. I stopped just before reaching a mile and walked home.</p>
            <p>That was a challenging time. I had been unsuccessfully rehabbing from a chronic repeat stress injury in my hands, wrists and elbows that made daily life a struggle. It was basically tendonitis. I had injured myself on the job as a stay at home dad with two young children. Raising kids is physical work and was especially so because we were living in San Francisco without a car. <em>I wore myself out.</em> It hurt to open a drawer, dress my kids, fold laundry, wash a pot... <strong>it hurt to pull up my pants.</strong> Trying to fill out a form was slow torture. I had to avoid so many things I love: guitar, sports with my kids, gaming, and limit myself to child care and house work. My partner works long hours in healthcare, and my mindset was I had to work just as hard at home. <strong>I didn’t ask for help with all the tasks that hurt.</strong> I chose not to slow down and I didn’t set boundaries on what I could handle. Host dinner after throwing an afternoon birthday party, then wash a million dishes by hand? No problem, as long as I have plenty of cold craft IPA around.</p>
        </section>
    </section>
            <blockquote class="quote">
                <span>Eventually I had a new idea. What if I got myself in really kick ass shape? Could I get so strong that my tendonitis would be cured?<span>
            </blockquote>
    <section class="blog-entry blog-entry-2">
        <section class="blog-entry-article">
            <p>My health problems didn’t end with the tendonitis. I was also clinically depressed and quietly ramping up a dependency on alcohol. Mental health is physical health, you get what you get, but the circumstances and my mindset and habits didn’t help. I saw all the blessings of my life: financial security, beautiful family, physical safety, and privilege- and <strong>I was ashamed that I couldn’t fix my injuries or at times control my temper.</strong> I would find myself ruminating daily on how much beer was in my fridge and then ruminate on my rumination. I was worried about how much I looked forward to the nightly “reward” even though it had turned into something far from rewarding. I was weary of my tendonitis. It stressed me out living with pain and no hope of recovery and I missed doing the stuff that I loved.</p>
            <p>I thought that running would help, but couldn’t get past the IT band, and didn’t muster up the motivation to find a solution. I gave up and spent another year toiling with my injury, depression, and addiction. </p>
            <p>Eventually I had a new idea. <em>What if I got myself in really kick ass shape?</em> Could I get so strong that my tendonitis would be cured? I needed a different routine, something that would address the IT band issue, and that didn’t involve training through pain. <strong>I needed to stop trying to do so much and let my body rest at times.</strong> But to do this I would have to change my mentality that I had to put in 80 hours at home. I needed to give myself permission to dedicate time to real self-care. Self-care to me had been delicious food, local beer, and binge-watching Netflix. I decided to dedicate time to rest and to focus on the most effective self-care there is, regular exercise.
            </p>
        </section>
    </section>
    <blockquote class="quote quote-right quote-before-image">
            <span>If my IT band bothers me after running half a mile, why don’t I just run less than half a mile at a time?</span>
    </blockquote>
    <picture class="blog-entry-article-image">
        <source media="(max-width: 639px)" srcset="assets/img/vancouver_island_boardwalk_running_path-2_2x3.jpg">
        <source media="(max-width: 1023px) and (min-width: 640px)" srcset="assets/img/vancouver_island_boardwalk_running_path-2_2x1.jpg">
        <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/img/vancouver_island_boardwalk_running_path-2_3x1.jpg">
        <source media="(min-width: 1200px)" srcset="assets/img/vancouver_island_boardwalk_running_path-2_4x1.jpg">
        <img src="assets/img/vancouver_island_boardwalk_running_path-2_3x1.jpg" alt="A boardwalk running through a wild pacific northwest forest on Vancouver island.">
    </picture>
    <section class="blog-entry blog-entry-2">
        <section class="blog-entry-article">
            <p>Spoiler alert. <em>It worked. Running gave me my life back.</em> It was a gradual process where I discovered that consistent training can create massive changes over time. To create consistency, I had to change my expectations of what a workout should feel like. It's ok to walk, to start easy and slow. I also learned to listen to my body to both give it rest and to find new ways to do tasks that hurt.</p> 
            <p>I built my training around two activities.</p>
            <ol>
                <li>Hybrid run / walk three times a week</li>
                <li>Beginner yoga YouTube three times a week</li>
            </ol>
            <p>I remembered the run / walk strategy from when I was connected to the running community as a young adult. Friends returned from injury by alternating running with walking. If my IT band bothers me after running half a mile, why don’t I just run less than half a mile at a time? So I gave it a try. I alternated between 5 minutes walking and 5 minutes running for 25 minutes.</p>
            <p>I did this for a month, 3 days a week, rain or shine and my knee felt… <strong>fine, completely normal.</strong> As for the tendonitis, my arms and joints actually felt good while I ran, and pretty decent for an hour or so after running. It wasn’t a recovery, but it was a relief from chronic pain. And I started to pinpoint the daily tasks that caused me the most discomfort and experiment with new ways of doing tasks as simple as opening a car door.</p>
        </section>
    </section>
    <blockquote class="quote">
        <span>I kept running and gradually worked my way up. I never pushed it. Each run, I told myself, lets take it easy and just want to go on another run later this week. No injuries. No pushing myself to exhaustion.</span>
    </blockquote>
    <section class="blog-entry blog-entry-2">
        <section class="blog-entry-article">
            <p>I wanted to add non-cardio exercise to my routine. If I was going to get in "kick-ass shape" I'd need to cross train. I had experience weight lifting but my tendons couldn’t handle anything that strenuous. I looked into yoga. I had thought I couldn’t do yoga <strong>because I wasn’t flexible.</strong> It was off my radar but I was so desperate to feel better I decided to give it a try.</p>
            <p>So on my non-run days, I explored the YouTube yoga world. Surprise, surprise, it’s deep! It took some experimenting to see what I could manage, but I learned that responding to your body is a big part of practicing yoga. I found the most relief from yoga that strengthened my core and improved my hip, back, and torso flexibility. I discovered that yoga has much in common with strength training. <strong>Both flexibility and strength are non-innate qualities, they are each improved by practice.</strong> I had been dead wrong considering my body inflexible.</p>
        </section>
    </section>
    <blockquote class="quote quote-right quote-before-image">
        <span>It felt good to run. The relief from pain was one thing, but the act itself was exciting.</span>
    </blockquote>
    <picture class="blog-entry-article-image">
        <source media="(max-width: 639px)" srcset="assets/img/uphill_mountain_running_trail_2x3.jpg">
        <source media="(max-width: 1023px) and (min-width: 640px)" srcset="assets/img/uphill_mountain_running_trail_2x1.jpg">
        <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/img/uphill_mountain_running_trail_3x1.jpg">
        <source media="(min-width: 1200px)" srcset="assets/img/uphill_mountain_running_trail_4x1.jpg">
        <img src="assets/img/uphill_mountain_running_trail_3x1.jpg" alt="Path headed gradually uphill surrounded by ferns.">
    </picture>
    <section class="blog-entry blog-entry-2">
        <section class="blog-entry-article">
            <p>I kept running and gradually worked my way up. I never pushed it. Each run, I told myself, <em>lets take it easy and just want to go on another run later this week.</em> No injuries. No pushing myself to exhaustion. After a month of 5 minute interval run / walk I made the running periods a little longer and stuck to that routine for another two weeks. Over the course of several months, I continued to gradually ramp up my running intervals until I only walked at the beginning and end of my runs. And I kept cross-training with beginner yoga on my off days.</p>
            <p>It felt good to run. The relief from pain was one thing, but the act itself was exciting. As my endurance increased, I could run farther and farther around my neighborhood and explore places I hadn’t been. I ran through the campus of the local college for the first time. I plodded my way up hills to discover new views of town. <strong>Running was something new to look forward to, that made my body actually feel good, and didn’t have any guilt associated with it. </strong>I still drank beer every night and struggled with the habit. The physical affect to my body was bad, and the shame and worry that I had a problem was a major source of anxiety. Even still my life was improving in big ways from the regular exercise.</p>
            <p>The running and yoga started to change me. Each week I felt more limber and stronger. I found I could move my in new ways that felt gentler on my tendonitis. For example, I could squat and get closer to a cabinet to grab a pot, rather than leaning over and overextending to reach it. <strong>I started to feel some hope.</strong> If I had made this gradual but real progress, I didn’t see any reasons why I couldn’t keep training until I reached the “kick ass shape” goal and rid myself of my tendonitis for good.</p>
        </section>
    </section>
    <blockquote class="quote">
        <span>So I quit. After a couple of weeks of sobriety, my brain felt different, like a fog had lifted.</span>
    </blockquote>
</section>
    <section class="blog-entry blog-entry-2">
        <section class="blog-entry-article">
            <p>After training for three months I had an impulsive thought. <em>What if I quit drinking for a couple of weeks?</em> Just to see how I felt? I felt emboldened by my training and the idea of no beer was so alien it had an appeal as a new adventure or challenge. So I switched to O’Doul's and stocked my freezer with ice cream and went for it. I won’t get into the details of how hard it was but <strong>I never could have done it without running.</strong> Running gave me the confidence to even try. It gave me a new activity to look forward to. It gave me hope that my body could be healthy again, that I could fill my life with all of the fun and salubrious activities I had been missing and ditch the habits that had been hurting me.</p>
            <p>So I quit. After a couple of weeks of sobriety, my brain felt different, like a fog had lifted. A spell that had clouded my decisions was gone. <strong>The absence of the daily impulse to drink felt so strange and wonderfully liberating.</strong> With new clarity I understood that I should quit drinking forever, not just a couple weeks. I had tried countless times to cut back and always, always failed, but I succeeded with abstinence. So I kicked that habit to the curb along with any ideas to try to consume in "moderation".</p> 
            <p>I also found professional help for my depression. I treated it like I would any other illness and went to my doctor. We worked out treatment plan built around regular exercise. Getting help was the right move. I still have to manage the symptoms, but as long as I follow my plan, depression doesn't alter my life or what I can do.</p>
        </section>
    </section>
    <picture class="blog-entry-article-image">
        <source media="(max-width: 639px)" srcset="assets/img/mountain_ridge_running_trail_2x3.jpg">
        <source media="(max-width: 1023px) and (min-width: 640px)" srcset="assets/img/mountain_ridge_running_trail_2x1.jpg">
        <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/img/mountain_ridge_running_trail_3x1.jpg">
        <source media="(min-width: 1200px)" srcset="assets/img/mountain_ridge_running_trail_4x1.jpg">
        <img src="assets/img/mountain_ridge_running_trail_3x1.jpg" alt="Hiking trail gently curving along a ridge between Douglas Firs in western Washington.">
    </picture> 
    <section class="blog-entry blog-entry-2">
        <section class="blog-entry-article">         
            <p>Half a year into the yoga and running I became more comfortable pushing myself. As long as I started each run very, very slowly, I could complete some really fun runs. I expanded my running territory to the forests and mountains in and around my city. I still kept my goal, <strong>want to run again</strong>. I never dramatically increased my distance and I paid attention to how my body felt. I didn't have to "give it my all" so I didn't think twice about walking up a hill, or stopping to enjoy nature. Trail running became my passion. </p>
            <p>I ended up in pretty close to "kick ass shape", if I may say so. Certainly in the best conditioning of my life. Daily life became more and more comfortable and the tasks that used to hurt, felt OK. At times I would overdo something (like stirring a stubborn jar of natural peanut butter, I am not joking) and feel my tendons "push back", so I'd stop and rest for a couple of days. <strong>I had learned to listen to my body and trust that it would get better with rest.</strong> And I started to get more active with my kids playing soccer, tossing a football, playing catch, hoops... as long as I had done my yoga and didn't overdo it, I could handle it.</p>
            <p>There wasn't a moment where I was cured. After a couple years I took account of my life and decided I was not limited in what I could do. I probably shouldn't try kite surfing, but all of the tasks of my day, sports with my kids, paddle boarding, yard work... I could handle it. I have re-aggravated the injury a few times, but each time I've successfully rehabbed it with ice, rest, and stretching.</p>
            <p>If you've made it to the end of my story, thank you. Running changed my life and I found a perspective on running and training that can help anyone wanting to incorporate exercise into their lives. <a href="research_on_benefits_of_exercise_and_self_kindness.html">Nothing is as good for you as regular exercise.</a> Running Kindness is my platform for helping others. <a href="contact.html">Send me a message</a> and tell me how I can help you train, or share your story. If you want to know more about the Running Kindness philosophy, <a href="how_to_start_a_running_program.html">check out the basics page.</a> If you are ready to change your life, learn the easiest way to run regularly with the <a href="blog_1_how_to_run_for_a_beginner.html">Running Kindness training plan</a>. Much love to everyone. </p>
        </section>
    </section>
    <section class="blog-entry blog-entry-references-sources">
        <p>
 
        </p>
    </section>  
</article>

{{> footer}}

</body>
