---
title: Running Kindness
description: Running Kindness blog index, a listing of each blog entry dedicated to supporting beginning runners. All focused on how to help people get in shape using the easiest and most reliable methods.
---
    <script type="application/ld+json">
        {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Running Kindness",
        "url": "https://runningkindness.com",
        "description": "A fitness blog dedicated to helping beginners learn how to run."
        }
    </script>
    <link rel="canonical" href="https://runningkindness.com/{{page}}.html" />

</head>

<body>

    {{> navigation}}
    
    <main class="blog-index site-content">
        <div class="blog-index-heading">
            <h1>The Running Kindness Blog</h1>
            <p>If you are interested in how to run on a regular basis, you have come to the right place. Here you can read posts on the best advice for beginner runners. Running Kindness is all about the power of consistency, and being the best possible coach to yourself. Learn how to increase your motivation and resilience. Learn how to train safely and avoid injury. Read about <a href="blog_1_how_to_run_for_a_beginner.html">the best routine for newcomers</a> and how to get started. <a href="blog_2_how_running_changed_my_life.html">Read my story on how</a> running transformed my health. <a href="contact.html">Send me a message</a> if there are specific topics on which you would like the Running Kindness perspective. Are you going for a run today? Awesome, getting out there is enough, you don't have to give your everything, just make sure you want to go on another!</p>
        </div>
        <article class="blog-index-entry">
            <div class="blog-index-entry-image">
                <a href="blog_1_how_to_run_for_a_beginner.html">
                    <picture>
                        <source media="(max-width: 639px)" srcset="assets/img/trail_run_path_under_boulders_2x3.jpg">
                        <source media="(max-width: 1023px) and (min-width: 640px)" srcset="assets/img/trail_run_path_under_boulders_2x1.jpg">
                        <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/img/trail_run_path_under_boulders_3x1.jpg">
                        <source media="(min-width: 1200px)" srcset="assets/img/trail_run_path_under_boulders_4x1.jpg">
                        <img src="assets/img/trail_run_path_under_boulders_3x1.jpg" alt="A running trail winding under fallen western red cedars and an exposed rock face.">
                    </picture>
                </a>
            </div>
    <!--[if IE]>Blog Entry 1 Listing <![endif]--> 
           
            <div class="blog-index-entry-title">
                <a href="blog_1_how_to_run_for_a_beginner.html">
                    <h1>Learning How to Run the Easy Way: Practicing Self-Compassion</h1>
                </a>
            </div>
           
            <div class="blog-index-entry-author-date">
                <p>Posted on the run by <a href="contact.html">Mac</a> on January 1, 2021</p>
            </div>            
            <div class="blog-index-entry-description">
                <a href="blog_1_how_to_run_for_a_beginner.html">
                    <p>Learn the Running Kindness running routine. Consistency beats intensity. Become the coach you need. Three runs a week. Run / walk hybrid. Focus on body's response to exercise. This is the best plan to go from not exercising to running on a regular basis.</p>
                </a>
            </div>

        </article>

    <!--[if IE]>Blog Entry 2 Listing <![endif]-->
        <article class="blog-index-entry">
            <div class="blog-index-entry-image">
                <a href="blog_2_how_running_changed_my_life.html">
                    <picture>
                        <source media="(max-width: 639px)" srcset="assets/img/mac_running_kindness_jogging_downhill_2x3.jpg">
                        <source media="(max-width: 1023px) and (min-width: 640px)" srcset="assets/img/mac_running_kindness_jogging_downhill_2x1.jpg">
                        <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/img/mac_running_kindness_jogging_downhill_3x1.jpg">
                        <source media="(min-width: 1200px)" srcset="assets/img/mac_running_kindness_jogging_downhill_4x1.jpg">
                        <img src="assets/img/mac_running_kindness_jogging_downhill_3x1.jpg" alt="The author, Mac, running downhill through western red cedars, douglas firs.">
                    </picture>
                </a>
            </div>
           
            <div class="blog-index-entry-title">
                <a href="blog_2_how_running_changed_my_life.html">
                    <h1>How Running Changed My Life</h1>
                </a>
            </div>
           
            <div class="blog-index-entry-author-date">
                <p>Posted on the run by <a href="contact.html">Mac</a> on February 1, 2021</p>
            </div>            
            <div class="blog-index-entry-description">
                <a href="blog_2_how_running_changed_my_life.html">
                    <p>My story. I (re)learned how to run and found a manageable and healthy exercise routine that would change my life. The key, making sure I always wanted to take another run. By not training too hard, I followed a routine of three runs a week and improved my health in profound and life altering ways.</p>
                </a>
            </div>

        </article>    </main>
{{> footer}}

</body>
