---
title: Running Kindness
description: Use this form to reach out to Mac at Running Kindness.
---

    <script type="application/ld+json">
        {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Running Kindness",
        "url": "https://runningkindness.com",
        "description": "A fitness blog dedicated to helping beginners learn how to run."
        }
    </script>
    <link rel="canonical" href="https://runningkindness.com/{{page}}.html" />

</head>
<body class="">
    {{> navigation}}

    <main class="contact site-content">
        <section class="contact-heading">
            <h1>Reach out</h1>
            <h1>Share your story</h1>
            <h1>Get support</h1>
        </section>
        <section class="contact-text">
            <p>Use this form to reach out to me. Tell me your story, no matter where you are. Why do you want to start running? What topics would you like covered? Why do you run? What has running done for you? Sign up to receive updates on new posts.</p>
        </section>
        <!--[if IE]>

        <div class="form-signin shadow-lg rounded mx-auto py-4 px-5">
            <h4 class="font-weight-bolder text-success mb-4">Contact-Form-PHP</h4>
            
            <form action="AjaxForm.php" method="post" class="m-auto" id="contactform">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <textarea name="message" class="form-control" rows="4" placeholder="Your message"></textarea>
                </div>
                <div class="form-group">
                    <fieldset>
                        <legend>Sign up for updates?</legend>
                        <input type="radio" class="form-control" name="updates" value="updatesYes" required><label for="updatesYes">Yes</label>
                        <input type="radio" class="form-control" name="updates" value="updatesNo" required><label for="updatesNo">No</label>
                    </fieldset>
                </div>
                <button type="submit" id="submit-btn" class="btn btn-primary w-100">
                    <div class="spinner-border spinner-border-sm d-none" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <span id="sendtext">SEND</span>
                </button>
                <input name="recaptcha-token" type="hidden">
            </form>
            
            <div role="alert" aria-live="assertive" aria-atomic="true" class="toast fixed-top m-3" data-delay="8000">
                <div class="toast-header">
                    <svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <rect fill="#C4CBF5" width="100%" height="100%" />
                    </svg>
                    <strong class="mr-auto">Admin</strong>
                    <small>Now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body"></div>
            </div>
        </div>
        <![endif]-->

        <section class="contact-form">
            <form action="AjaxForm.php" method="post" class="m-auto" id="contactform">

                <h2>Contact</h2>
            

                <div class="contact-form-name-email">
                    <div class="form-group">
                        <label>Name:</label>
                        <input class="form-control" name="name" type="text" value="" placeholder="Your Name"/>
                    </div>
                    <div class="form-group">
                        <label>Email Address:</label>
                        <input class="form-control" style="cursor: pointer;" name="email" value="" placeholder="user@domain.com" type="text"/>
                    </div>
                </div>
                    <div class="form-group">
                        <div class="contact-from-message">
                            <label>Message:</label>
                            <textarea class="form-control" name="message" placeholder="Please, share your story."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <legend>Sign up for updates?</legend>
                            <input type="radio" class="form-control" name="updates" value="updatesYes" required><label for="updatesYes">Yes</label>
                            <input type="radio" class="form-control"  name="updates" value="updatesNo" required><label for="updatesNo">No</label>
                        </fieldset>
                    </div>
                <p>
                    <div class="contact-form-button">
                        <input type="submit" id="submit-btn" value="Send"/>
                    </div>
                </p>
                <input name="recaptcha-token" type="hidden">
              </form>
          <div role="alert" aria-live="assertive" aria-atomic="true" class="toast fixed-top m-3" data-delay="8000">
            <div class="toast-header">
                <svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect fill="#C4CBF5" width="100%" height="100%" />
                </svg>
                <strong class="mr-auto">Admin</strong>
                <small>Now</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body"></div>
        </div>
    </section>
        <script src="https://www.google.com/recaptcha/api.js?render=6LdO2d8ZAAAAAJ26HNvOd6kNsYF6i199T9EPuQ-T"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
        <script>
            // .validate (https://jqueryvalidation.org)
// .post (https://api.jquery.com/jQuery.post/)
// reCaptcha v3 (https://developers.google.com/recaptcha/docs/v3)
// @author Raspgot

const publicKey = "6LdO2d8ZAAAAAJ26HNvOd6kNsYF6i199T9EPuQ-T"; // GOOGLE public key

// Get token from API
function check_grecaptcha() {
    grecaptcha.ready(function () {
        grecaptcha.execute(publicKey, {
            action: "ajaxForm"
        }).then(function (token) {
            $("[name='recaptcha-token']").val(token);
        });
    });
}

// Show response in .toast
function toastShowing(response) {
    $(".toast-body").html(JSON.parse(response));
    $(".toast").toast('show');
}

$(function () {
    check_grecaptcha();
    $("#contactform").validate({
        // Form fields rules
        rules: {
            name: {
                required: true,
                minlength: 3
            },
            email: {
                required: true,
                email: true
            },
            message: {
                required: true,
                minlength: 5
            },
            updates: {
                required: true
            }
        },
        // Error messages
        messages: {
            name: {
                required: "Please enter your name.",
                minlength: "Must be at least 3 characters long."
            },
            email: "Please enter a valid email.",
            message: {
                required: "Please enter your message.",
                minlength: "Must be at least 5 characters long."
            },
            updates: "Please choose if you would like to receive updates."
        },
        errorClass: "invalid-feedback",
        // Dynamic validation classes
        highlight: function (element) {
            $(element).addClass("is-invalid").removeClass("is-valid");
        },
        unhighlight: function (element) {
            $(element).addClass("is-valid").removeClass("is-invalid");
        },
        // Action on submit
        submitHandler: function (form) {
            $(".spinner-border").removeClass("d-none");
            $("#sendtext").addClass("d-none");
            $.post(form.action, $(form).serialize())
                .done(function (response) {
                    toastShowing((response));
                    $(".spinner-border").addClass("d-none");
                    $("#sendtext").removeClass("d-none");
                    $("#submit-btn").prop("disabled", true);
                    check_grecaptcha();
                    setTimeout(function () {
                        $("#submit-btn").prop("disabled", false);
                        $("form").trigger("reset");
                        $("form").each(function () {
                            $(this).find(".form-control").removeClass("is-valid")
                        })
                    }, 3000);
                })
                .fail(function (response) {
                    toastShowing((response));
                    $(".spinner-border").addClass("d-none");
                    $("#sendtext").removeClass("d-none");
                });
        }
    });
});
        </script>
    </main>
{{> footer}}

</body>