---
title: Running Kindness
description: Disclaimer for Running Kindness. 
---
    <script type="application/ld+json">
        {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Running Kindness",
        "url": "https://runningkindness.com",
        "description": "A fitness blog dedicated to helping beginners learn how to run."
        }
    </script>
    <link rel="canonical" href="https://runningkindness.com/{{page}}.html" />

    </head>

<body>
    
{{> navigation}}
<article class="disclaimer site-content">
    <p>This site offers health and fitness information and is designed for educational and entertainment purposes only. You should not rely on this information as a substitute for, not does it replace, professional medical advice, diagnosis, or treatment. If you have any concerns or questions about your health, you should always consult with a physician or other health-care professional. Before beginning a new exercise routine you should always consult with a physician or other health-care professional. Do not disregard, avoid or delay obtaining medical or health related advice from your health-care professional because of something you may have read on this site. You should not act or rely upon this information without seeking professional advice. Exercise has risks, and this or any other exercise program may result in injury. The use of any information provided on this site is solely at your own risk.</p>
</article>

{{> footer}}

</body>