---
title: Running Kindness
description: This article outlines the two fundamentals of Running Kindness, the routine based on consistency, and learning how to coach and support yourself. 
---
    <script type="application/ld+json">
        {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Running Kindness",
        "url": "https://runningkindness.com",
        "description": "A fitness blog dedicated to helping beginners learn how to run."
        }
    </script>
    <link rel="canonical" href="https://runningkindness.com/{{page}}.html" />

    </head>

<body>
    
{{> navigation}}
<main class="site-content">
    <article class="running">
        <section class="running-picture">
            <picture>
                <source media="(max-width: 639px)" srcset="assets/img/fern_covered_forest_jogging_route_2x3.jpg">
                <source media="(max-width: 1023px) and (min-width: 640px)" srcset="assets/img/fern_covered_forest_jogging_route_2x1.jpg">
                <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/img/fern_covered_forest_jogging_route_3x1.jpg">
                <source media="(min-width: 1200px)" srcset="assets/img/fern_covered_forest_jogging_route_4x1.jpg">
                <img src="assets/img/fern_covered_forest_jogging_route_3x1.jpg" alt="A hiking trail surrounded by ferns and western red cedar.">
            </picture>
        </section>
        <section class="running-program-basics" id=
        "training">
            <div class="running-program-basics-heading">
                <h1>Consistency beats intensity</h1>
                <h1>Three runs a week</h1>
                <h1>Run / walk</h1>
                <h1>Focus on body's response</h1>
            </div>
            <div class="running-program-basics-article basics-first-paragraph">
                <p>The biggest health gains exercise offers are when one transitions from a sedentary lifestyle, to exercising on a regular basis<a href="/research_on_benefits_of_exercise_and_self_kindness.html#references"><sup>1</sup></a>. Running consistently is far more important than how intensely you train. By focusing on consistency, one is more likely to follow a plan and reap the benefits of exercise. If your routine is too intense you may be discouraged and quit.
                <p>The plan goes hand in hand with the Running Kindness philosophy based on self-compassion, a set of skills that builds resilience<a href="/research_on_benefits_of_exercise_and_self_kindness.html#references"><sup>12</sup></a>. We can use it overcome challenges, like those we face getting in shape. <a href="how_to_start_a_running_program.html#philosophy">Read more</a> about the philosophy.</p></p>
                <h2>Basics</h2>
                <h3>Three runs a week</h3>
                <p>As a runner, you will consistently run three times a week. Your speed or pace does not matter. Each time you run, aim for ONE MORE RUN. Make sure you’ll want to run again. If you run too hard you risk injury, or more likely, risk feeling reluctant to go on one more run. One more run. That optimism is the foundation of consistency: quantity, not quality. Over time consistency creates major progress.</p>
            </div>
            <blockquote class="quote quote-right">
                <span>Each time you run, aim for ONE MORE RUN. Make sure you’ll want to run again.</span>
            </blockquote>
            <div class="running-program-basics-article">
                <h3>Run / walk</h3>
                <p>You should not run the entire workout. The plan uses the run / walk method, where you alternate between running and walking. Run / walk is easier than straight up running and just as effective in developing fitness for beginners. In fact <a href="https://rigbag.wordpress.com/running-tips-and-advice/run-walk-race-strategy/" rel="noopener" target="_blank"> most ultra marathoners use a run / walk strategy in races</a>. Your workouts will be hard, but not too hard, so be kind and patient with yourself. This isn’t Hollywood. Your workouts won’t be part of montage where the protagonist transforms through feats of strength and perseverance. It’s a montage of consistent and careful progress.</p>
                <h3>Focus on body's response</h3>
                <p>Throughout your workout, let your body determine the intensity and how long you run for the run portions. From one workout to the next, don’t worry about how long, how far, or how fast you run. Increasing those things only gives you a modest increase in health benefits compared to exercising consistently. If you train consistently, you will develop speed and endurance, but those are really side effects to the huge life changing health benefits you’ll gain from exercise.</p>
                <p><a href="blog_1_how_to_run_for_a_beginner.html">Read my full blog article</a> to get the specifics of the best training program for a beginner.</p>
            </div>
        </section>
        <section class="running-picture" id="philosophy">
            <picture>
                <source media="(max-width: 639px)" srcset="assets/img/mac_running_up_trail_pnw_forest_2x3.jpg">
                <source media="(max-width: 1023px) and (min-width: 640px)" srcset="assets/img/mac_running_up_trail_pnw_forest_2x1.jpg">
                <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/img/mac_running_up_trail_pnw_forest_3x1.jpg">
                <source media="(min-width: 1200px)" srcset="assets/img/mac_running_up_trail_pnw_forest_4x1.jpg">
                <img src="assets/img/mac_running_up_trail_pnw_forest_3x1.jpg" alt="Mac jogging up a hiking trail passing old growth trees.">
            </picture>
        </section>
        <section class="running-kindness-philosophy">
            <div class="running-kindness-philosophy-heading">
                <h1>Become the coach you need</h1>
                <h1>Coach yourself like a friend</h1>
                <h1>Fitness is universally challenging</h1>
                <h1>Be mindful of self-talk</h1>
            </div>
            <section class="running-kindness-philosophy-article basics-first-paragraph">
                <p>The Running Kindness philosophy is based on the psychology of self-compassion, a set of skills that builds perseverance through challenges. All three components work together to make you stronger, and motivated to improve and reach your weekly goal of three runs.</p>
                <h3>Coach yourself like a friend</h3>
                <p>Imagine a friend told you: “Ugh, I’m starting a workout plan and I suck. I hate sweating so much, my body hurts, I look stupid- I should quit.” Would you tell them, “You’re right, you aren’t strong enough, you actually do look pretty funny- better to just cut your losses and give up.” Of course not. You’d encourage them: “I’m sorry it’s so hard at the start, that’s why I am so proud of you for trying and getting this far. It’s going to get easier and you can do it. You don’t look silly, you look like a badass!”</p>
            </section>
            <blockquote class="quote">
                <span>You deserve unconditional positivity, encouragement, patience, and love from the people in your life including yourself.</span>
            </blockquote>
            <section class="running-kindness-philosophy-article">
                <p>The running kindness philosophy means we coach ourselves like we would a friend. It’s not always natural, but it’s always what we deserve. You deserve unconditional positivity, encouragement, patience, and love from the people in your life including yourself.</p>
                <h3>Fitness is universally challenging</h3>
                <p>It’s not easy to work out or follow a routine. Everyone is busy and has to make accommodations to fit it into their schedule. Everyone feels self-conscious at some point. Everyone misses an occasional run day. Everyone engages in unhealthy behaviors. No one always makes the best decisions for their health in every aspect of life. The running kindness philosophy understands the common humanity that we share. Instead of feeling isolated when we recognize flaws or challenges, we feel connected to others; understanding that everyone is challenged by fitness. We are struggling and succeeding together.</p>
            </section>
            <blockquote class="quote quote-right">
                <span>Instead of feeling isolated when we recognize flaws or challenges, we feel connected to others; understanding that everyone is challenged by fitness. We are struggling and succeeding together.</span>
            </blockquote>
            <section class="running-kindness-philosophy-article">
                <p>This understanding is part of how we coach ourselves too. When I see people jogging while driving around town, I cheer them on to myself and feel legitimate pride and inspiration. Yes, they’re doing it! If they can do it, so can I.</p>
                <h3>Be mindful of self-talk</h3>
                <p>When we feel challenged, how aware are we of our emotions and how we talk to ourselves? Do we notice negative self-talk for what it is, and take a step back? Or do we find ourselves consumed by discomfort, setbacks, or shame? Running kindness calls for mindfulness in self-talk. We notice negative feelings and avoid ruminating on them. We also don’t ignore negative feelings and push them away.</p>
                <p>Let’s say I miss a workout and tell myself, “You missed another workout, you are so lazy.” With mindfulness I would respond by recognizing that I feel guilty about missing a workout. Knowing that fitness is universally challenging (and coaching myself like a friend) I would remind myself that everyone skips a run day from time to time, I complete far more than I miss, and I am confident that I can get back into my routine.</p>
                <p>We can't avoid uncomfortable feelings, or negative self-talk. If we are mindful when they happen, we can try to respond by coaching ourselves like we would a friend, and recognizing that everyone shares these feelings at some point. By responding with kindness, we can let the feelings and our response become a positive motivator, and avoid sapping our energy.</p>
                <h3>It's all connected</h3>
                <p>All three components, coach yourself like a friend, recognizing fitness is universally challenging, and mindfulness of self-talk work together to create a running kindness mindset that is patient, determined, and resilient. Following it is the reason I've been training for four years without any major gaps, including avoiding injury. And in those four years <a href="blog_2_how_running_changed_my_life.html">running has literally changed my life</a>.
        </section>
        <section class="running-references running-references-sources">
            <p>
                <a href="https://pubmed.ncbi.nlm.nih.gov/30248007/">1. Blackwell, D. L., & Clarke, T. C. (2018). State Variation in Meeting the 2008 Federal Guidelines for Both Aerobic and Muscle-strengthening Activities Through Leisure-time Physical Activity Among Adults Aged 18-64: United States, 2010-2015. National health statistics reports, (112), 1–22. </a>
            </p>
            <p>
                <a href="https://pubmed.ncbi.nlm.nih.gov/17484611/" target="_blank" rel="noopener">2. Leary, M. R., Tate, E. B., Adams, C. E., Allen, A. B., & Hancock, J. (2007). Self-compassion and reactions to unpleasant self-relevant events: the implications of treating oneself kindly. Journal of personality and social psychology, 92(5), 887–904. https://doi.org/10.1037/0022-3514.92.5.887</a>
            </p>
        </section>  
    </article>
</main>

{{> footer}}