---
title: Running Kindness
description: Running Kindness is a fitness blog dedicated to helping beginners learn to run. It is a routine and philosophy that embraces running as the ultimate self-care.
---
    <script type="application/ld+json">
        {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Running Kindness",
        "url": "https://runningkindness.com",
        "description": "A fitness blog dedicated to helping beginners learn how to run."
        }
    </script>
    <link rel="canonical" href="https://runningkindness.com/{{page}}.html" />

</head>

<body class="green">
    <section id="scroll-down" class="hero-homepage">
        <header>
            <h1>Love yourself by learning to run. </h1>
            <h1>Learn to run by loving yourself.</h1>    
        </header>
    </section>
    <main class="site-content">
        <div class="hero-homepage-second">
        {{> navigation-homepage}}
            <div class="hero-homepage-second-text" >
                <div class="hero-homepage-second-text-heading">
                    <h2>Use the power of self-compassion to become a runner.</h2>
                </div>
                <div class="hero-homepage-second-text-paragraph">
                    <p class="">Welcome to Running Kindness, a project to help people learn to run while exercising self-compassion. <strong>Getting in shape is difficult. </strong>It is much easier when you use self-compassion to motivate and support yourself in the process. Running changed my life and I wouldn't have become a runner without practicing running kindness.</p>
                </div>
            </div>

            <picture class="hero-homepage-second-bottom-image">
                <source media="(max-width: 639px)" srcset="assets/img/mac_walking_on_beach_3x1_small.jpg">
                <source media="(max-width: 1023px) and (min-width: 640px)" srcset="assets/img/mac_walking_on_beach_3x1_medium.jpg">
                <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/img/mac_walking_on_beach_4x1.jpg">
                <source media="(min-width: 1200px)" srcset="assets/img/mac_walking_on_beach_4x1.jpg">
                <img src="assets/img/mac_walking_on_beach_3x1_small.jpg" alt="Mac walking on the beach cooling down after a run.">
            </picture>
         </div>
        <section class="hero-homepage-third">
            <div class="hero-homepage-third-choices">
                <div class="hero-homepage-third-choices-links">
                    <div class="hero-homepage-third-choices-links-heading">
                        <h3>Consistency beats intensity</h3>
                    </div>
                    <div class="hero-homepage-third-choices-links-button">
                        <a href="how_to_start_a_running_program.html#fitness"><h2>LEARN WHY</h2>
                    </div>
                    </a>
                    <div class="hero-homepage-third-choices-links-heading">
                        <h3>Become the coach you need</h3>
                    </div>
                    <div class="hero-homepage-third-choices-links-button">
                        <a href="how_to_start_a_running_program.html#philosophy"><h2>LEARN HOW</h2></a> 
                    </div>
                </div>
            </div>
        </section>
        </div>
    </section>
    <div class="hero-homepage-third-quote">
            <h1>If the benefits of regular exercise could be taken in pill form, it would literally be prescribed for every single condition.<sup data-tooltip tabindex="1" title="Vina, J., Sanchis-Gomar, F., Martinez-Bello, V., & Gomez-Cabrera, M. C. (2012). Exercise acts as a drug; the pharmacological benefits of exercise. British journal of pharmacology, 167(1), 1–12. https://doi.org/10.1111/j.1476-5381.2012.01970.x"><a href="https://doi.org/10.1111/j.1476-5381.2012.01970.x" rel="noopener" target="_blank">1</a></sup></h1>
    </div>
    <section class="homepage-research-promo-choices">
        <div class="homepage-research-promo-choices-links-heading">
            <h3>Explore the benefits of exercise</h3>
            <div class="homepage-research-promo-choices-links-button">
                <a href="research_on_benefits_of_exercise_and_self_kindness.html"><h2>READ UP</h2></a>
            </div> 
        </div>
    </section>
    <div class="site-guide-image">
        <picture>
            <source media="(max-width: 639px)" srcset="assets/img/mountain_ridge_running_trail_3x1.jpg">
            <source media="(max-width: 1023px) and (min-width: 640px)" srcset="assets/img/mountain_ridge_running_trail_3x1.jpg">
            <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/img/mountain_ridge_running_trail_3x1.jpg">
            <source media="(min-width: 1200px)" srcset="assets/img/mountain_ridge_running_trail_4x1.jpg">
            <img src="assets/img/mountain_ridge_running_trail_3x1_small.jpg" alt="Hiking trail gently curving along a ridge between Douglas Firs in western Washington.">
        </picture>
    </div>
    <div class="hero-homepage-third-quote hero-homepage-third-quote-second">
            <h1>“When we give ourselves compassion, we are opening our hearts in a way that can transform our lives.” ~ Kristin Neff</h1>
    </div>
    <section class="homepage-research-promo-choices">
        <div class="homepage-research-promo-choices-links-heading">
            <h3>Explore the benefits of self-compassion</h3>
            <div class="homepage-research-promo-choices-links-button">
                <a href="research_on_benefits_of_exercise_and_self_kindness.html"><h2>READ UP</h2></a>
            </div> 
        </div>
    </section>

</main>


{{> footer}}

</body>