---
title: Running Kindness
description: Privacy Policy for Running Kindness. 
---
    <script type="application/ld+json">
        {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Running Kindness",
        "url": "https://runningkindness.com",
        "description": "A fitness blog dedicated to helping beginners learn how to run."
        }
    </script>
    <link rel="canonical" href="https://runningkindness.com/{{page}}.html" />

    </head>

<body>
    
{{> navigation}}
<article class="privacy-policy site-content">
    <p>This site uses the invisible reCAPTCHA to prevent fraud and abuse. Use of the website is subject to the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a></p>
</article>

{{> footer}}

</body>