---
title: Running Kindness
description: The research on the benefits of regular exercise and practicing self compassion. Running Kindness wants everyone to get these benefits by learning how to run.
---
    <script type="application/ld+json">
        {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Running Kindness",
        "url": "https://runningkindness.com",
        "description": "A fitness blog dedicated to helping beginners learn how to run."
        }
    </script>
    <link rel="canonical" href="https://runningkindness.com/{{page}}.html" />

</head>
<body class="grey">
{{> navigation}}
    <main class="site-content">
        <section class="">
            <div class="research-page-hero">
                <div class="research-page-hero-title">
                    <h2>Regular exercise and self-compassion are remarkably good for you. </h2>
                </div>

            </div>
            <div class="research-page-research">
                <div class="list research-page-research-exercise">
                    <h3>Regular exercise</h3>
                    <ul>
                        <li>decreases risk of death from any cause.<sup>1</sup></li>
                        <li>is the most effective way to prevent
                            <ul> 
                                <li>cardiovascular disease,</li>
                                <li>diabetes,</li>
                                <li>cancer,</li>
                                <li>hypertension,</li>
                                <li>obesity,</li>
                                <li>depression,</li>
                                <li>and osteoporosis.<sup>1</sup></li>
                            </ul>
                        </li>
                        <li>improves your mood.<sup>2</sup></li>
                        <li>helps you quit smoking.<sup>3</sup></li>
                        <li>improves brain health.<sup>4</sup></li>
                        <li>improves your sleep.<sup>4</sup></li>
                        <li>improves your sexual health.<sup>6 7</sup></li>
                        <li>would be prescribed for almost all types of physical and mental health issues, if it could be taken as a drug. <sup>8</sup></li>
                    </ul>
                </div>
                <div class="list research-page-research-self-compassion" id="self-compassion-research">
                    <h3>Self-compassion</h3>
                    <ul>
                        <li>increases motivation to self-improve.<sup>9</sup></li>
                        <li>increases feelings of</li>
                            <ul>
                                <li>happiness,</li>
                                <li>optimism,</li>
                                <li>curiosity,</li>
                                <li>and connectedness.<sup>10</sup></li>
                            </ul>
                        <li>decreases feelings of</li>
                            <ul>
                                <li>anxiety,</li>
                                <li>depression,</li>
                                <li>rumination,</li>
                                <li>and fear of failure.<sup>10</sup></li>
                            </ul>
                        <li>protects from</li>
                            <ul>
                                <li>social comparison,</li>
                                <li>public self-consciousness,</li>
                                <li>self-rumination,</li>
                                <li>anger and closed-mindedness.<sup>11</sup></li>
                            </ul>
                        <li>increases resilience.<sup>12</sup></li>    
                    </ul>
                </div>
            </div>
        </section>
        <picture class="research-page-hero-image">
            <source media="(max-width: 639px)" srcset="assets/img/mac_running_down_trail_pnw_2x3.jpg">
            <source media="(max-width: 1023px) and (min-width: 640px)" srcset="assets/img/mac_running_down_trail_pnw_2x1.jpg">
            <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="assets/img/mac_running_down_trail_pnw_3x1.jpg">
            <source media="(min-width: 1200px)" srcset="assets/img/mac_running_down_trail_pnw_4x1.jpg">
            <img src="assets/img/mac_running_down_trail_pnw_3x1.jpg" alt="Mac running down trail finishing an easy jog in the mountains.">
        </picture>
        <section class="research-page-program-promo">
            <div class="research-page-program-promo-text">
                <p>Let's face it, <strong>running is hard</strong>. That's why <strong>regular exercise</strong> and <strong>self-compassion</strong> are perfect companions. The ultimate way to <em>show ourselves compassion</em> is to treat our bodies and minds to <strong>regular exercise</strong> and to stay motivated and positive during a training program you need to <strong>be kind to yourself</strong>. Choose a link to learn about Running Kindness' perspective on <strong>how to train</strong> and <strong>practice self-compassion</strong>.</p>
            </div>
            <div class="research-page-program-promo-choices">
                <div class="research-page-program-promo-choices-links">
                    <div class="research-page-program-promo-choices-links-heading">
                        <h3>Consistency beats intensity</h3>
                    </div>
                    <div class="research-page-program-promo-choices-links-button">
                        <a href="how_to_start_a_running_program.html"><h2>LEARN WHY</h2>
                    </div>
                    </a>
                    <div class="research-page-program-promo-choices-links-heading">
                        <h3>Become the coach you need</h3>
                    </div>
                    <div class="research-page-program-promo-choices-links-button">
                        <a href="blog_1_how_to_run_for_a_beginner.html"><h2>LEARN HOW</h2></a> 
                    </div>
                </div>
            </div>
        </section>
        <section class="grid-x research-page-references" id="references">
            <div class="small-12 medium-4 research-page-references-title">
                <h3>References</h3>
                <p>Look at you, reading over the references... pretty sexy. I don't just throw facts out, hoping they are true. I did the research, and here are the scholarly works that back it all up. Exercise and self-kindness are powerful.</p>
            </div>
            <div class="small-12 medium-8 research-page-references-sources">
                <p>
                    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1402378/" target="_blank" rel="noopener">1.Warburton, Nicol, and Bredin. 2006. Health benefits of physical activity: the evidence. CMAJ. 174(6)801-809.</a>
                </p>
                <p>
                    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6441819/" target="_blank" rel="noopener">2. Gilani SRM, Feizabad AK. The effects of aerobic exercise training on mental health and self-esteem of type 2 diabetes mellitus patients. Health Psychol Res. 2019;7(1):6576. Published 2019 Mar 11. doi:10.4081/hpr.2019.6576</a>
                </p>
                <p>
                    <a href="https://smokefree.gov/challenges-when-quitting/cravings-triggers/fight-cravings-exercise" target="_blank" rel="noopener">3. Fight Cravings with Exercise. NIH</a>
                </p>
                <p>
                    <a href="https://doi.org/10.1016/j.neuroscience.2006.02.084." target="_blank" rel="noopener">4. Q. Ding, S. Vaynman, M. Akhavan, Z. Ying, F. Gomez-Pinilla,Insulin-like growth factor I interfaces with brain-derived neurotrophic factor-mediated synaptic plasticity to modulate aspects of exercise-induced cognitive function, Neuroscience,Volume 140, Issue 3, 2006, Pages 823-833, ISSN 0306-4522, https://doi.org/10.1016/j.neuroscience.2006.02.084.</a>
                </p>
                <p>
                    <a href="https://doi.org/10.1155/2017/1364387" target="_blank" rel="noopener">5. Dolezal, B. A., Neufeld, E. V., Boland, D. M., Martin, J. L., & Cooper, C. B. (2017). Interrelationship between Sleep and Exercise: A Systematic Review. Advances in preventive medicine, 2017, 1364387. https://doi.org/10.1155/2017/1364387</a>
                </p>
                <p>
                    <a href="https://doi.org/10.1111/jsm.12154" target="_blank" rel="noopener">6. Joan Khoo, Ho-Heng Tian, Benedict Tan, Kelvin Chew, Chung-Sien Ng, Darren Leong, Raymond Choon-Chye Teo, Richard Yuan-Tud Chen, Comparing Effects of Low- and High-Volume Moderate-Intensity Exercise on Sexual Function and Testosterone in Obese Men, The Journal of Sexual Medicine, Volume 10, Issue 7, 2013, Pages 1823-1832, ISSN 1743-6095, https://doi.org/10.1111/jsm.12154.</a>
                </p>
                <p>
                    <a href="https://www.sciencedirect.com/science/article/abs/pii/S2050052118300180" target="_blank" rel="noopener">7. Amelia M. Stanton, Ariel B. Handy, Cindy M. Meston, The Effects of Exercise on Sexual Function in Women, Sexual Medicine Reviews, Volume 6, Issue 4, 2018, Pages 548-557, ISSN 2050-0521, https://doi.org/10.1016/j.sxmr.2018.02.004.</a>
                </p>
                <p>
                    <a href="https://bjsm.bmj.com/content/43/8/550" target="_blank" rel="noopener">8. Kujala UM
                        Evidence on the effects of exercise therapy in the treatment of chronic disease
                        British Journal of Sports Medicine 2009;43:550-555.
                    </a>
                </p>
                <p>
                    <a href="https://www.jstor.org/stable/26764906" target="_blank" rel="noopener">9. Neff, K. (2009). The Role of Self-Compassion in Development: A Healthier Way to Relate to Oneself. Human Development, 52(4), 211-214. doi:10.2307/26764906 https://www.jstor.org/stable/26764906</a>
                </p>
                <p>
                    <a href="https://self-compassion.org/wp-content/uploads/publications/LearyChap.pdf" rel="noopener">10. Neff, K.D. (2009). Self-Compassion. In M.R Leary & R. H. Hoyles (Eds.), Handbook of individual differences in social behavior (pp. 561-573). New York: Guilford Press.</a>
                </p>
                <p>
                    <a href="https://doi.org/10.1111/j.1467-6494.2008.00537.x" target="_blank" rel="noopener">11. Neff, K.D. and Vonk, R. (2009), Self‐Compassion Versus Global Self‐Esteem: Two Different Ways of Relating to Oneself. Journal of Personality, 77: 23-50. doi:10.1111/j.1467-6494.2008.00537.x </a>
                </p>
                <p>
                    <a href="https://pubmed.ncbi.nlm.nih.gov/17484611/" target="_blank" rel="noopener">12. Leary, M. R., Tate, E. B., Adams, C. E., Allen, A. B., & Hancock, J. (2007). Self-compassion and reactions to unpleasant self-relevant events: the implications of treating oneself kindly. Journal of personality and social psychology, 92(5), 887–904. https://doi.org/10.1037/0022-3514.92.5.887</a>
                </p>
            </div>
        </section>
    </main>

{{> footer}}

</body>