<!--[if IE]>index.html and other pages<![endif]-->
<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "WebSite",
      "name": "Running Kindness",
      "url": "https://runningkindness.com",
      "description": "A fitness blog dedicated to helping beginners learn how to run."
    }
</script>

<!--[if IE]>Blog Entry
  
  image must be at least 700 px wide
  
  <![endif]-->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    “mainEntityOfPage”:{
      “@type”:”WebPage”,
      “@id”:”https://runningkindness.com”
      },
    "headline": "",
    "image": "",  
    "author": {
      "@type": "person",
      "name": "Mac"
    },  
    "publisher": {
      "@type": "Organization",
      "name": "Running Kindness",
      "logo": {
        "@type": "ImageObject",
        "url": "https://runningkindness.com/assets/img/running_kindness_publisher_logo.jpg"
      }
    },
    "datePublished": ""
  }
  </script>