<script src="https://www.google.com/recaptcha/api.js?render=6LdO2d8ZAAAAAJ26HNvOd6kNsYF6i199T9EPuQ-T"></script>

<footer>
    <img src="/assets/img/rklogo.svg" alt="">
    <p> Copyright &copy; <span id="date"></span> Running Kindness All Rights Reserved | <a href="disclaimer.html">Disclaimer</a> | <a href="sitemap.xml">Sitemap</a> | <a href="privacy_policy.html">Privacy Policy</a></p>
</footer>
