<header class="cell navigation grid-container   navigation-homepage">
    <div class="grid-y header">
      <section class="cell header-logo text-center">
        <a href="index.html"><img src="/assets/img/runningkindnesslogo.svg" alt="logo for running kindness includes a backwards R touching a K."></a>
      </section>
      <section class="cell header-bottom">
        <nav>
          <ul class="menu align-center" aria-label="Main Navigation">
            <li><a href="blog.html">blog</a></li>
            <li><a href="how_to_start_a_running_program.html">basics</a></li>
            <li><a href="research_on_benefits_of_exercise_and_self_kindness.html">research</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="contact.html">contact</a></li>
          </ul>
        </nav>
      </section>
    </div>
  </header>